(version 1)

(deny default)
(debug deny)

(import "bsd.sb")

(allow process-exec
    (subpath "${APP_DIR}")
    (subpath "/usr/local/bin")
    (subpath "/usr/bin")
    (subpath "/bin")
    ;; There may be Homebrew files on the PATH for things like `bash` or `git` or whatnot.
    (regex #"/usr/local/Cellar/.*/bin/.*")
    )

(allow file-read*
    (literal "/Users/${USER}/src/sandbox_testing")
    (literal "/Users/${USER}/src")
    (literal "/Users/${USER}")
    (literal "/Users")
    (literal "/")
    (subpath "/Users/${USER}/Library/Preferences/")
    (subpath "${APP_DIR}")
    (subpath "/usr")
    (subpath "/System")
    (subpath "/Library")
    (subpath "/dev")
    (subpath "/etc")
    (subpath "/private/var/db/dyld")
    )

(allow file*
    (subpath "/dev")
    (subpath "${JULIA_DEPOT_PATH}")
    (subpath "${TMPDIR}")
    ;; `loading` test requires write privileges to a directory within `share` ?!
    (subpath "${APP_DIR}/share/julia/test/depot")
    ;; `cmdlineargs` test too
    (subpath "${APP_DIR}/share/julia/test/testhelpers")
    ;; Julia doesn't honor `$TMPDIR` when creating `julia-codegen-XXXX` files
    ;; https://github.com/JuliaLang/julia/blob/v1.5.3/src/cgmemmgr.cpp#L197-L198
    (regex #"^/tmp/julia-codegen-[0-9]+-[a-zA-Z0-9]+")
    (regex #"^/private/tmp/julia-codegen-[0-9]+-[a-zA-Z0-9]+")
    )

(allow job-creation
    (subpath "${APP_DIR}")
    )

(allow process-fork)
(allow process-info*)
(allow process-codesigning-status*)
(allow sysctl-read)
(allow mach-lookup)
(allow ipc-posix-sem)
(allow ipc-sysv-shm)
(allow ipc-posix-shm)
(allow network-bind)
(allow network-outbound)
(allow network-inbound)
(allow signal)